@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  scroll-behavior: smooth;

  background: rgb(2, 10, 24);
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
p,
a,
button {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.container {
  max-width: 1146px;
  margin: 0 auto;
}

.header {
  padding: 39px 0;
  margin-bottom: 160px;
}

.navigation {
  display: flex;
  justify-content: center;
  gap: 40px ;
}

.navigation a {
  font-size: 16px;
}

.main {
  
}

.mainContent {
  display: flex;
  justify-content: space-between;
  margin-bottom: 197px;
}

.mainContent__leftSide {
  max-width: 604px;
}

.mainContent__leftSide h2 {
  color: rgb(58, 104, 184);
  font-size: 18px;
  line-height: 160%;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.mainContent__leftSide h1 {
  font-size: 55px;
  font-weight: 800;
  line-height: 130%;
  margin-bottom: 40px;
}
.mainContent__leftSide p {
  font-size: 18px;
  line-height: 160%;
  opacity: 0.7;
  margin-bottom: 50px;
  max-width: 558px;
}

.mainContent__leftSide-btnList {
  display: flex;
  gap: 20px;
}
.btn_play {
display: flex;
gap: 10px;
}

.mainContent__leftSide-btnList button {
  padding: 15px 30px;
  border-radius: 5px;
  background: rgb(58, 104, 184);
  font-size: 20px;
  border: none;
  cursor: pointer;
}




.logos{
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.cardList{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr) ;
  gap: 30px;
}

.card{  
  padding: 30px;
  border-radius: 10px;
  background-color: rgb(19, 32, 53);
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  text-align: center;
}

.cardBig{
  grid-column: span 2;
  grid-row: span 2;
  gap: 60px;
 
}
.card h2{
  line-height: 125%;
  font-weight: 700;
  font-size: 25px;
  opacity: 0.7;
}
.card p{
  line-height: 160%;
  font-weight: 600;
  font-size: 16px;
  opacity: 0.7;

}